<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to J3 Finance Tracker App!</h1>
    <p class="lead">This is a market-leading crypto portfolio, built to help you save money, plan for the future, and see all your investments in one place.</p>
    <a class="btn btn-primary btn-lg" href="https://medium.com/jungletronics" role="button">visit jungletronics!</a><br>
    <hr class="my-4">
    <%= link_to :logout, destroy_user_session_path, data: { "turbo-method": :delete } %>
    <%= button_to("Log Out",   destroy_user_session_path,   method: :delete ) %>
    <hr>
    <table>
      <thead>
        <tr>
          <th>Material to Study</th>
          <th>links to awesome pages!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>My GitHub Repository Project Page: <strong>Finance Tracker App</strong></td>
          <td>
            <a href="https://github.com/giljr/finance_tracker_app" class="btn btn-light">Go To My GitHub Repo Page</a>
          </td>
        </tr>
        <tr>
          <td>Heroku Dev Center: <strong>Ruby</strong></td>
          <td>
            <a href="https://devcenter.heroku.com/categories/ruby-support" class="btn btn-light">Go To Heroku Dev Center Page</a>
          </td>
        </tr>
        <tr>
          <td>The Complete Ruby on Rails Developer Courser: <strong>Udemy Course by Mashrur Hossain</strong></td>
          <td>
            <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/" class="btn btn-light">Go To Mashrur Hossain Udemy Page</a>
          </td>
        </tr>
        <tr>
          <td>Mashrur Hossain Udemy Rails GitHub: <strong>finance-tracker-6</strong></td>
          <td>
            <a href="https://github.com/udemyrailscourse/finance-tracker-6" class="btn btn-light">Go To Mashrur Hossain GitHub Page</a>
          </td>
        </tr>
        <tr>
          <td>Devise Authentication GitHub Page: <strong>heartcombo/devise</strong></td>
          <td>
            <a href="https://github.com/heartcombo/devise#controller-filters-and-helpers" class="btn btn-light">Go To Devise GitHub Page</a>
          </td>
        </tr>
        <tr>
          <td>Devise Bootstrap View Page: <strong>hisea/devise-bootstrap-views</strong></td>
          <td>
            <a href="https://github.com/hisea/devise-bootstrap-views/tree/master" class="btn btn-light">Go To Devise Boostrap View Page</a>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
</div>
