<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to J3 Finance Tracker App!</h1>
    <p class="lead">This is a market-leading crypto portfolio, built to help you save money, plan for the future, and see all your investments in one place.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="https://medium.com/jungletronics" role="button">visit jungletronics!</a>
  </div>
</div>
